.pswp__shutter-speed {
  font-size: 14px;
  line-height: 1;
  color: #fff;
  height: auto;
  align-self: center;
  text-shadow: 1px 1px 3px black;
  margin-right: 15px;
  display: flex;
  gap: 4px;
  opacity: 0.85;
}

.pswp__aperture {
  font-size: 14px;
  line-height: 1;
  color: #fff;
  height: auto;
  align-self: center;
  text-shadow: 1px 1px 3px black;
  margin-right: 8px;
  display: flex;
  gap: 4px;
  opacity: 0.85;
}

.pswp__focal-length {
  font-size: 14px;
  line-height: 1;
  color: #fff;
  height: auto;
  align-self: center;
  text-shadow: 1px 1px 3px black;
  margin-right: 8px;
  display: flex;
  gap: 4px;
  opacity: 0.85;
}

.pswp__time {
  font-size: 14px;
  line-height: 1;
  color: #fff;
  height: auto;
  align-self: center;
  text-shadow: 1px 1px 3px black;
  margin-right: 8px;
  display: flex;
  gap: 4px;
  opacity: 0.85;
}

.pswp__iso {
  font-size: 14px;
  line-height: 1;
  color: #fff;
  height: auto;
  align-self: center;
  text-shadow: 1px 1px 3px black;
  margin-right: 8px;
  display: flex;
  gap: 4px;
  opacity: 0.85;
}

#aperture_icon {
	position: relative;
	display: block;
	padding: 0;
	margin: 0;
	overflow: hidden;
  opacity: 0.85;
  filter: drop-shadow( 1px 1px 3px rgba(0, 0, 0, .7));
}